body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    line-height: 1.6;
    padding: 20px;
}


h1 {
    max-width: 800px;
    margin: 0 auto;
    background: lightblue;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: black;
}
h2 {
    max-width: 800px;
    background-color: rgb(74, 169, 201);
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: black;
}
